####################################
# Rust / Cargo
####################################
*/target/
**/target/
**/*.rs.bk
Cargo.lock
**/data
external/
**/.venv/
fixtures/go_*/server
fixtures/go_mcp_*/server
fixtures/go_*/tool.wasm
fixtures/go_*_tool/tool.wasm
**/node_modules/
docs/
# reports/
# **/reports/
corpus/clones/
clones
manifests